:root {
    --primary-color: rgb(154, 233, 154);
    --secondary-color: white;
    --font-color: black;
}

/*Themes*/
.halloween {
    --primary-color: black;
    --secondary-color: orange;
    --font-color: yellow;
    font-family: "Eater", serif;
}

.christmas {
    --primary-color: green;
    --secondary-color: white;
    --font-color: red;
    font-family: "Mountains of Christmas", serif;
}


/*Body code*/
body {
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
}

.title-section {
    display: flex;
    align-items: center;
    justify-content: center;

}

header {
    background-color: var(--secondary-color);
    display: grid;
    grid-template-areas: 'header' 'nav';
}

header h1 { 
    text-align: center;
    font-size: 3.5rem;
    padding-top: 20px;
    grid-area: header;
    color: rgb(13, 105, 13);
}

header img {
    width: 100px;
    height: auto;
    margin: 0 20px;
}

nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: flex-end
} 

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
}

nav li {
    box-sizing: border-box;
    border-radius: 10px 10px 0px 0px;
    background-color: var(--primary-color);
    padding: 10px;
    margin: 0 5px;
    width: 200px;
    text-align: center;
}

nav li:hover {
    transform: scale(1.2);
    font-size: 1.5rem;
}

nav li:active { 
    font-weight: 700;
    color: var(--font-color);
}

nav a {
    text-decoration: none;
}

nav a:visited {
    color: var(--font-color);
}

footer {
    background-color: var(--secondary-color);
}